################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.lock
/project/.vs/NFine.Framework/v15
/bin
/obj
/.vs
*.dtbcache
/project/NFine.Code/bin/Release
/project/NFine.Code/obj/Release
/project/NFine.Data/bin/Release
/project/NFine.Data/obj/Release
/project/NFine.Domain/bin/Release
/project/NFine.Domain/obj/Release
/project/NFine.Mapping/bin/Release
/project/NFine.Mapping/obj/Release
/project/NFine.Repository/bin/Release
/project/NFine.Repository/obj/Release
/project/NFine.Application/obj/Release
/project/NFine.Application/bin/Release
/project/NFine.Web/obj/Release
project/NFine.Web/Resource/
