@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    #PageColorCustom, #PageColorTheme {
        width: 295px;
        text-indent: 20px;
    }
    .colorblock{
        display: inline-block;
        cursor: pointer;
        height: 20px;
        width: 20px;    
        border-radius: 4px;
        border: solid 0px;
        vertical-align: middle;
        margin-left: 5px;
    }
    .floatblock{
        display: inline-block;
        cursor: pointer;
        height: 30px;
        width: 30px;    
        border-radius: 4px;
        border: solid 0px;
        vertical-align: middle;
        margin-left: 5px;
    }
    .uploadwidth {
        width: 400px;    
        margin-left: 0px;
        padding-left: 0px;
    }
</style>
<form id="form1">
    <div class="widget-body">
        <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
            <ul class="steps">
                <li data-target="#step-1" class="active"><span class="step">1</span>活动设置<span class="chevron"></span></li>
                <li data-target="#step-2"><span class="step">2</span>规则设置<span class="chevron"></span></li>
                <li data-target="#step-3"><span class="step">3</span>投票设置<span class="chevron"></span></li>
                <li data-target="#step-4"><span class="step">4</span>界面设置<span class="chevron"></span></li>
                <li data-target="#step-5"><span class="step">5</span>报名设置<span class="chevron"></span></li>
                <li data-target="#step-6"><span class="step">6</span>礼物设置<span class="chevron"></span></li>
                <li data-target="#step-7"><span class="step">7</span>提交<span class="chevron"></span></li>
            </ul>
        </div>
        <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
            <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">
                @*<div class="alert alert-danger" style="text-align: left; margin-bottom: 10px;">
                    <i class="fa fa-warning alert-dismissible" style="position: relative; top: 1px; font-size: 15px; padding-right: 5px;"></i>
                    请填写角色信息，用于创建或修改角色信息！
                </div>*@
                <div class="panel panel-default panelheight">
                    <div class="panel-heading">
                        <h3 class="panel-title">活动设置：</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            @*<tr style="display: none;">
                                <th class="formTitle">活动ID</th>
                                <td class="formValue">
                                    <select id="F_Id" name="F_Id" class="form-control required"></select>
                                </td>
                            </tr>*@
                            <tr>
                                <th class="formTitle">活动标题：</th>
                                <td class="formValue" colspan="3">
                                    <input id="F_Name" name="F_Name" type="text" class="form-control required" placeholder="请输入活动标题" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">报名时间：</th>
                                <td class="formValue">
                                    <input id="F_ApplyStartTime" name="F_ApplyStartTime" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker()" />
                                </td>
                                <td class="formGap"> 到 </td>
                                <td class="formValue">
                                    <input id="F_ApplyEndTime" name="F_ApplyEndTime" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker()" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">投票时间：</th>
                                <td class="formValue">
                                    <input id="F_VoteStartTime" name="F_VoteStartTime" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker()" />
                                </td>
                                <th class="formGap"> 到 </th>
                                <td class="formValue">
                                    <input id="F_VoteEndTime" name="F_VoteEndTime" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker()" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">投票结束后可送礼物：</th>
                                <td class="formValue" colspan="1">
                                    <input id="F_VoteEndDuration" name="F_VoteEndDuration" type="text" class="form-control" placeholder="0"/>
                                </td>
                                <th class="formGap">分钟 <span style="color: red;">（投票时间结束后还可以送几分的礼物并加票！不填或为0不启用此功能。）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">模式：</th>
                                <td class="formValue">
                                    <select id="F_Mode" name="F_Mode" class="form-control required">
                                        <option value="1" selected>礼物模式</option>
                                        <option value="2">普通投票模式</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">排行榜是否显示礼物点数：</th>
                                <td class="formValue">
                                    <select id="F_RankingListIsShow" name="F_RankingListIsShow" class="form-control required">
                                        <option value="true">是</option>
                                        <option value="false" selected>否</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">选手页是否显示礼物点数：</th>
                                <td class="formValue">
                                    <select id="F_CandidateListIsShow" name="F_CandidateListIsShow" class="form-control required">
                                        <option value="true">是</option>
                                        <option value="false" selected>否</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">活动结束后是否显示页面：</th>
                                <td class="formValue">
                                    <select id="F_EndIsShow" name="F_EndIsShow" class="form-control required">
                                        <option value="true">是</option>
                                        <option value="false" selected>否</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">
                                    备注
                                </th>
                                <td class="formValue" colspan="3">
                                    <textarea id="F_Remark" name="F_Remark" class="form-control" style="height: 60px;" placeholder="活动备注"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-2" style="margin: 10px; margin-bottom: 0px;">
                <div class="panel panel-default panelheight">
                    <div class="panel-heading">
                        <h3 class="panel-title">规则设置</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">是否需要关注：</th>
                                <td class="formValue">
                                    <select id="F_ApplyIsNeedFollow" name="F_ApplyIsNeedFollow" class="form-control required">
                                        <option value="1" selected>不需要关注</option>
                                        <option value="2">投票需关注</option>
                                        <option value="3">参加需关注</option>
                                        <option value="4">参加，投票需关注</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">报名审核：</th>
                                <td class="formValue">
                                    <select id="F_ApplyAuditType" name="F_ApplyAuditType" class="form-control required">
                                        <option value="true"selected>人工审核</option>
                                        <option value="false">自动审核</option>
                                    </select>
                                </td>
                                <th class="formGap"><span style="color: red;">（选择人工审核后，必须在后台人工审核后前台才显示！）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">最小人数：</th>
                                <td class="formValue" colspan="1">
                                    <input id="F_ApplyMinNumber" name="F_ApplyMinNumber" type="text" class="form-control" placeholder="0" />
                                </td>
                                <th class="formGap">人 <span style="color: red;">（达到最小报名人数后，才能进行投票！建议达到参赛人数后，把上面设置为0，提高性能！）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">每人每日每户：</th>
                                <td class="formValue" colspan="1">
                                    <input id="F_ApplyNumberPerAll" name="F_ApplyNumberPerAll" type="text" class="form-control" placeholder="0" />
                                </td>
                                <th class="formGap">票 <span style="color: red;">（每人每天最多给每个用户投多少票。）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">每人每日：</th>
                                <td class="formValue" colspan="1">
                                    <input id="F_ApplyNumberPerDayAndPerson" name="F_ApplyNumberPerDayAndPerson" type="text" class="form-control" placeholder="3" />
                                </td>
                                <th class="formGap">票 <span style="color: red;">（每人每天最多投多少票，当天给所有人投票的总数。填0为不限制，送礼物投票不受影响！）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">每人最多：</th>
                                <td class="formValue" colspan="1">
                                    <input id="F_ApplyNumberPerPerson" name="F_ApplyNumberPerPerson" type="text" class="form-control" placeholder="0" />
                                </td>
                                <th class="formGap">票 <span style="color: red;">（每人最多投票总数。填0为不限制！）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">投票时间间隔：</th>
                                <td class="formValue" colspan="1">
                                    <input id="F_ApplyVoteTimeDuration" name="F_ApplyVoteTimeDuration" type="text" class="form-control" placeholder="0" />
                                </td>
                                <th class="formGap">分钟 <span style="color: red;">（一个微信给同一个选手投票时间最少间隔。填0为不限制！）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">每人最多送礼物：</th>
                                <td class="formValue" colspan="1">
                                    <input id="F_ApplyGiftMaxNumberPerPerson" name="F_ApplyGiftMaxNumberPerPerson" type="text" class="form-control" placeholder="0" />
                                </td>
                                <th class="formGap">元 <span style="color: red;">（每人最多接受送礼物总价值，精确到分，如2.01元。填0为不限制！）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">投票消息提醒：</th>
                                <td class="formValue">
                                    <select id="F_ApplyVoteIsRemindMsg" name="F_ApplyVoteIsRemindMsg" class="form-control required">
                                        <option value="true">提醒</option>
                                        <option value="false" selected>不提醒</option>
                                    </select>
                                </td>
                                <th class="formGap"><span style="color: red;">（选择“不提醒”时，不给参加比赛用户发送被投票或者审核通过信息。需要开通客服服务信息接口权限！）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">匿名送礼：</th>
                                <td class="formValue">
                                    <select id="F_ApplyVoteIsAnonymous" name="F_ApplyVoteIsAnonymous" class="form-control required">
                                        <option value="true">匿名</option>
                                        <option value="false" selected>不匿名</option>
                                    </select>
                                </td>
                                <th class="formGap"><span style="color: red;">（选择“不匿名”时，送礼物不显示个人头像昵称！）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">是否允许给自己投票：</th>
                                <td class="formValue">
                                    <select id="F_ApplyVoteIsToSelf" name="F_ApplyVoteIsToSelf" class="form-control required">
                                        <option value="true" selected>允许</option>
                                        <option value="false">不允许</option>
                                    </select>
                                </td>
                                <th class="formGap"><span style="color: red;">（选择“允许”时，能给自己投票；否则不允许给自己投票！）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">投票时是否需要验证：</th>
                                <td class="formValue">
                                    <select id="F_ApplyVoteIsValidation" name="F_ApplyVoteIsValidation" class="form-control required">
                                        <option value="true">是</option>
                                        <option value="false" selected>否</option>
                                    </select>
                                </td>
                                <th class="formGap"><span style="color: red;">（选择“否”时，需要设置下面2个参数。开启后增加刷票难度！）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle" style="padding-top: 5px;">
                                    验证码参数：
                                </th>
                                <td class="formValue">
                                    <input id="F_ApplyVoteValidID" name="F_ApplyVoteValidID" type="text" class="form-control" placeholder="验证码ID"/>
                                </td>
                                <td class="formValue">
                                    <input id="F_ApplyVoteValidKey" name="F_ApplyVoteValidKey" type="text" class="form-control"  placeholder="验证码Key"/>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" style="padding-top: 5px;">
                                    自动锁定：
                                </th>
                                <th class="formGap">每</th>
                                <td class="formValue">
                                    <input id="F_ApplyAutoLockDuration" name="F_ApplyAutoLockDuration" type="text" class="form-control" placeholder=""/>
                                </td>
                                <th class="formGap">分钟超过</th>
                                <td class="formValue">
                                    <input id="F_ApplyAutoLockVoteNum" name="F_ApplyAutoLockVoteNum" type="text" class="form-control" placeholder=""/>
                                </td>
                                <th class="formGap">票，锁定</th>
                                <td class="formValue">
                                    <input id="F_ApplyAutoLockTime" name="F_ApplyAutoLockTime" type="text" class="form-control" placeholder=""/>
                                </td>
                                <th class="formGap">分钟</th>
                            </tr>
                            <tr>
                                <th class="formTitle" style="padding-top: 5px;">
                                    地区限制：
                                </th>
                                <td class="formValue">
                                    <input id="F_ApplyRegionLimit" name="F_ApplyRegionLimit" type="text" class="form-control" placeholder="地区限制"/>
                                </td>
                                <th class="formGap"><span style="color: red;">（输入可允许投票的省或市，请以英文的逗号隔开，留空为不限制！）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle" style="padding-top: 5px;">
                                    腾讯地图API接口的KEY：
                                </th>
                                <td class="formValue">
                                    <input id="F_ApplyRegionLimitAPIKey" name="F_ApplyRegionLimitAPIKey" type="text" class="form-control" placeholder="腾讯地图API的KEY"/>
                                </td>
                                <th class="formGap"><span style="color: red;">（设置可允许投票的地区限制时，请至“腾讯地图”获取Key，用qq登陆，并绑定手机号，即可获取！）</span></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-3" style="margin: 10px; margin-bottom: 0px;">
                <div class="panel panel-default panelheight">
                    <div class="panel-heading">
                        <h3 class="panel-title">投票设置</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">轮播图：</th>
                                <td class="formValue">
                                    <div class="container kv-main" style="padding-left: 0px;">
                                        <div class="form-group">
                                            <input id="F_VoteCarouselIDs" type="file" multiple class="file-loading" data-min-file-count="1">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">轮播图跳转链接：</th>
                                <td class="formValue">
                                    <input id="F_Link" name="F_Link" type="text" class="form-control" placeholder="以http开头的链接，各轮播图链接以英文的逗号隔开，与轮播图上传图片数量和位置保持一致！" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">投票成功后弹出广告：</th>
                                <td class="formValue">
                                    <div class="uploadwidth container kv-main">
                                        <div class="form-group">
                                            <input id="F_VoteSuccPictureID" type="file" class="file-loading" data-min-file-count="1">
                                        </div>
                                    </div>
                                </td>                                
                            </tr>
                            <tr>
                                <th class="formTitle">是否跳转到买礼物界面：</th>
                                <td class="formValue">
                                    <select id="F_VoteSuccPictureIsToGift" name="F_VoteSuccPictureIsToGift" class="form-control required">
                                        <option value="true" selected>是</option>
                                        <option value="false">否</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">活动规则：</th>
                                <td class="formValue simditor-toolbar">
                                    <textarea id="F_VoteRules" name="F_VoteRules" autofocus></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">奖品介绍：</th>
                                <td class="formValue">
                                    <textarea id="F_VotePrizeIntroDuction" name="F_VotePrizeIntroDuction" autofocus></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-4" style="margin: 10px; margin-bottom: 0px;">
                <div class="panel panel-default panelheight">
                    <div class="panel-heading">
                        <h3 class="panel-title">界面设置：</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">首页显示顺序：</th>
                                <td class="formValue">
                                    <select id="F_PageShowSortType" name="F_PageShowSortType" class="form-control required">
                                        <option value="1">按最新倒序</option>
                                        <option value="2">按最新顺序</option>
                                        <option value="3">按编号倒序</option>
                                        <option value="4">按编号顺序</option>
                                        <option value="5" selected>按票数倒序</option>
                                        <option value="6">按票数顺序</option>
                                        <option value="7">按礼物倒序</option>
                                        <option value="8">按礼物顺序</option>
                                        <option value="9">按最新投票倒序</option>
                                        <option value="10">按最新投票顺序</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">虚拟浏览量：</th>
                                <td class="formValue" colspan="1">
                                    <input id="F_PageVirtualViewnumber" name="F_PageVirtualViewnumber" type="text" class="form-control" placeholder="0" />
                                </td>
                                <th class="formGap">流量 <span style="color: red;">（首页显示 = 真实浏览量 + 虚拟浏览量）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">排行榜数量：</th>
                                <td class="formValue" colspan="1">
                                    <input id="F_PageRankingListMaxnumber" name="F_PageRankingListMaxnumber" type="text" class="form-control" placeholder="100" />
                                </td>
                                <th class="formGap">个 <span style="color: red;">（设置排行榜显示选手最大数量。）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">是否显示礼物详情：</th>
                                <td class="formValue">
                                    <select id="F_PageIsShowGiftDetail" name="F_PageIsShowGiftDetail" class="form-control required">
                                        <option value="true">是</option>
                                        <option value="false" selected>否</option>
                                    </select>
                                </td>
                                <th class="formGap"><span style="color: red;">（选择“否”时，用户主页不显示礼物列表。）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">未关注引导提示：</th>
                                <td class="formValue" colspan="3">
                                    <input id="F_PageNerverFollowNotice" name="F_PageNerverFollowNotice" type="text" class="form-control" placeholder="未关注用户提示关注时的提示语" />
                                </td>
                                <th class="formGap"><span style="color: red;">（未关注用户提示关注时的提示语。）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">
                                    滚动公告：
                                </th>
                                <td class="formValue" colspan="3">
                                    <textarea id="F_PageRollNotice" name="F_PageRollNotice" class="form-control" style="height: 100px;" placeholder="活动备注"></textarea>
                                </td>
                                <th class="formGap"><span style="color: red;">（活动首页最上方滚动公告。不填不显示！）</span></th>
                            </tr>
                            <tr>
                                <th class="formTitle">首页背景音乐：</th>
                                <td class="formValue" colspan="3">
                                    <div class="uploadwidth container kv-main">
                                        <div class="form-group">
                                            <input id="F_PageBackgroundSong" type="file" class="file-loading" data-min-file-count="1">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">自定义页面配色：</th>
                                <td class="formValue" colspan="2">
                                    <div id="cp1" class="input-group colorpicker-component">
                                        <input id="PageColorCustom" name="PageColorCustom" type="text" class="form-control"/>
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                    <input id="F_PageColorCustom" name="F_PageColorCustom" type="text" class="form-control" style="display: none;" />
                                    <script>
                                        $(function () {
                                            //$('#cp1').colorpicker();
                                            // 添加change事件 改变背景色
                                            $('#cp1').colorpicker().on('changeColor', function (e) {
                                                if ($('#F_PageColorCustom').val() != $('#cp1').colorpicker('getValue'))
                                                    $('#F_PageColorCustom').val($('#cp1').colorpicker('getValue'));
                                                //$('#cp1').style.backgroundColor = $('.F_PageColorCustom').val();
                                                //$('body')[0].style.backgroundColor = e.color.toString('rgba');
                                            });
                                        });
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">主题颜色：</th>
                                <td class="formValue" colspan="2">
                                    <div id="cp2" class="input-group colorpicker-component">
                                        <input id="PageColorTheme" name="PageColorTheme" type="text" class="form-control"/>
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                    <input id="F_PageColorTheme" name="F_PageColorTheme" type="text" class="form-control" style="display: none;" />
                                    <script>
                                        $(function() {
                                            $('#cp2').colorpicker();
                                            // 添加change事件 改变背景色
                                            $('#cp2').on('change', function (event) {
                                                if ($('#F_PageColorTheme').val() != $('#cp2').colorpicker('getValue'))
                                                    $('#F_PageColorTheme').val($('#cp2').colorpicker('getValue'));
                                            });
                                        });
                                    </script>
                                </td>
                                <td class="formValue" colspan="2">
                                    常用颜色：
                                    <input id="color1" type="button" class="colorblock" onclick="setColor('#6381FC');" style="background-color: #6381FC" />
                                    <input id="color2" type="button" class="colorblock" onclick="setColor('#29ABDD');" style="background-color: #29ABDD" />
                                    <input id="color3" type="button" class="colorblock" onclick="setColor('#FF7F26');" style="background-color: #FF7F26" />
                                    <input id="color4" type="button" class="colorblock" onclick="setColor('#FF6A6B');" style="background-color: #FF6A6B" />
                                    <input id="color5" type="button" class="colorblock" onclick="setColor('#FF4242');" style="background-color: #FF4242" />
                                    <input id="color6" type="button" class="colorblock" onclick="setColor('#A3D3EE');" style="background-color: #A3D3EE" />
                                    <input id="color4" type="button" class="colorblock" onclick="setColor('#FEB6C0');" style="background-color: #FEB6C0" />
                                    <input id="color5" type="button" class="colorblock" onclick="setColor('#483DBB');" style="background-color: #483DBB" />
                                    <input id="color6" type="button" class="colorblock" onclick="setColor('#A2CD5A');" style="background-color: #A2CD5A" />
                                    <script>
                                        function setColor(colorvalue) {
                                            $('#cp2').colorpicker('setValue', colorvalue);
                                            if ($('#F_PageColorTheme').val() != $('#cp2').colorpicker('getValue'))
                                                $('#F_PageColorTheme').val($('#cp2').colorpicker('getValue'));
                                        }
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" style="padding-top: 5px;">
                                    首页边框特效：
                                </th>
                                <th class="formGap">至少购买</th>
                                <td class="formValue">
                                    <input id="F_PageBorderEffectsNum" name="F_PageBorderEffectsNum" type="text" class="form-control" placeholder="0" />
                                </td>
                                <th class="formGap">元的礼物，可加特效</th>
                                <td class="formValue">
                                    <input id="F_PageBorderEffectsDuration" name="F_PageBorderEffectsDuration" type="text" class="form-control" placeholder="0" />
                                </td>
                                <th class="formGap">小时</th>
                            </tr>
                            <tr>
                                <th class="formTitle">特效边框图片：</th>
                                <td class="formValue" colspan="3">
                                    <div class="uploadwidth container kv-main">
                                        <div class="form-group">
                                            <input id="F_PageBorderEffectsPictureID" type="file" class="file-loading" data-min-file-count="1">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">首页漂浮物特效：</th>

                                <td class="formValue" colspan="4">
                                    <input id="05" type="button" class="floatblock" onclick="setFloating('05');" style="background-image: url('../../../../Content/img/floatimage/05.png');background-size:100% 30px;" />
                                    <input id="06" type="button" class="floatblock" onclick="setFloating('06');" style="background-image: url('../../../../Content/img/floatimage/06.png');background-size:100% 30px;" />
                                    <input id="07" type="button" class="floatblock" onclick="setFloating('07');" style="background-image: url('../../../../Content/img/floatimage/07.png');background-size:100% 30px;" />
                                    <input id="08" type="button" class="floatblock" onclick="setFloating('08');" style="background-image: url('../../../../Content/img/floatimage/08.png');background-size:100% 30px;" />
                                    <input id="09" type="button" class="floatblock" onclick="setFloating('09');" style="background-image: url('../../../../Content/img/floatimage/09.png');background-size:100% 30px;" />
                                    <input id="10" type="button" class="floatblock" onclick="setFloating('10');" style="background-image: url('../../../../Content/img/floatimage/10.png');background-size:100% 30px;" />
                                    <input id="11" type="button" class="floatblock" onclick="setFloating('11');" style="background-image: url('../../../../Content/img/floatimage/11.png');background-size:100% 30px;" />
                                    <input id="12" type="button" class="floatblock" onclick="setFloating('12');" style="background-image: url('../../../../Content/img/floatimage/12.png');background-size:100% 30px;" />
                                    <input id="huangguan" type="button" class="floatblock" onclick="setFloating('huangguan');" style="background-image: url('../../../../Content/img/floatimage/huangguan.png');background-size:100% 30px;" />
                                    <input id="meigui" type="button" class="floatblock" onclick="setFloating('meigui');" style="background-image: url('../../../../Content/img/floatimage/meigui.png');background-size:100% 30px;" />
                                    <input id="tang" type="button" class="floatblock" onclick="setFloating('tang');" style="background-image: url('../../../../Content/img/floatimage/tang.png');background-size:100% 30px;" />
                                    <input id="tangguo" type="button" class="floatblock" onclick="setFloating('tangguo');" style="background-image: url('../../../../Content/img/floatimage/tangguo.png');background-size:100% 30px;" />
                                    <input id="xiaoguai" type="button" class="floatblock" onclick="setFloating('xiaoguai');" style="background-image: url('../../../../Content/img/floatimage/xiaoguai.png');background-size:100% 30px;" />
                                    <input id="xin" type="button" class="floatblock" onclick="setFloating('xin');" style="background-image: url('../../../../Content/img/floatimage/xin.png');background-size:100% 30px;" />
                                    <input id="xingxing" type="button" class="floatblock" onclick="setFloating('xingxing');" style="background-image: url('../../../../Content/img/floatimage/xingxing.png');background-size:100% 30px;" />
                                    <input id="xuehua" type="button" class="floatblock" onclick="setFloating('xuehua');" style="background-image: url('../../../../Content/img/floatimage/xuehua.png');background-size:100% 30px;" />
                                    <script>
                                        function setFloating(floatvalue) {
                                            $('.floatblock').css('border', 'solid 0px');
                                            $('#' + floatvalue).css('border', 'solid 0.5px');
                                            if ($('#F_PageFloatingEffects').val() != floatvalue)
                                                $('#F_PageFloatingEffects').val(floatvalue);
                                        }
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle"></th>
                                <td class="formValue" colspan="1">
                                    <input id="F_PageFloatingEffects" name="F_PageFloatingEffects" type="text" class="form-control" placeholder="0" />
                                </td>
                                <th class="formGap"><a id="NF-Delete" authorize="yes" class="btn btn-primary dropdown-text" onclick=""><i class="fa fa-minus"></i>去除特效</a></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-5" style="margin: 10px; margin-bottom: 0px;">
                <div class="panel panel-default panelheight">
                    <div class="panel-heading">
                        <h3 class="panel-title">报名设置</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">最少上传图片：</th>
                                <td class="formValue" colspan="1">
                                    <input id="F_ApplyPictureMinNum" name="F_ApplyPictureMinNum" type="text" class="form-control" placeholder="不能少于1张" />
                                </td>
                                @*<th class="formGap">张 <span style="color: red;">（不能少于1张！不能大于5张！）</span></th>*@
                            </tr>
                            <tr>
                                <th class="formTitle">最多上传图片：</th>
                                <td class="formValue" colspan="1">
                                    <input id="F_ApplyPicturemaxNum" name="F_ApplyPicturemaxNum" type="text" class="form-control" placeholder="不能大于5张" />
                                </td>
                                @*<th class="formGap">张 <span style="color: red;">（不能大于5张！不能少于1张！）</span></th>*@
                            </tr>
                            <tr>
                                <th class="formTitle" style="padding-top: 5px;">
                                    报名字段：
                                </th>
                                <td class="formValue">
                                    <input id="F_ApplyName" name="F_ApplyName" type="text" class="form-control" placeholder="姓名" />
                                </td>
                                <td class="formValue">
                                    <input id="F_ApplyPhone" name="F_ApplyPhone" type="text" class="form-control" placeholder="手机号码" />
                                </td>
                                <td class="formValue">
                                    <input id="F_ApplyDeclaration" name="F_ApplyDeclaration" type="text" class="form-control" placeholder="参赛直言" />
                                </td>
                                @*<th class="formGap"><span style="color: red;">（如不需要，可留空！）</span></th>*@
                            </tr>
                            <tr>
                                <th class="formTitle" style="padding-top: 5px;">
                                    其他报名字段：
                                </th>
                                <td class="formValue" colspan="3">
                                    <input id="F_ApplyDetail" name="F_ApplyDetail" type="text" class="form-control" placeholder="请以英文的逗号隔开报名字段。可留空！" />
                                </td>
                                @*<th class="formGap"><span style="color: red;">（请以英文的逗号隔开报名字段。可留空！）</span></th>*@
                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">
                                    报名页面提示文字：
                                </th>
                                <td class="formValue" colspan="3">
                                    <textarea id="F_ApplyNotice" name="F_ApplyNotice" class="form-control" style="height: 60px;" placeholder="请如实填写报名信息，提交信息为唯一获奖凭证"></textarea>
                                </td>
                                @*<th class="formGap"><span style="color: red;">（报名页面最下面提示的说明文字！）</span></th>*@
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-6" style="margin: 10px; margin-bottom: 0px;">
                <div class="panel panel-default panelheight">
                    <div class="panel-heading">
                        <h3 class="panel-title">礼物设置</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">实时弹出送礼物记录：</th>
                                <td class="formValue" colspan="1">
                                    <select id="F_GiftIsShowList" name="F_GiftIsShowList" class="form-control required">
                                        <option value="true">是</option>
                                        <option value="false" selected>否</option>
                                    </select>
                                </td>
                                <td class="formValue" colspan="3"><span style="color: red;">（活动页面是否实时弹出送礼物记录。）</span></td>
                            </tr>
                            <tr>
                                <th class="formTitle" style="padding-top: 5px;">
                                    比例单位：
                                </th>
                                <td class="formValue" colspan="1">每一元礼物价值，等于</td>
                                <td class="formValue" colspan="1">
                                    <input id="F_GiftPerOne" name="F_GiftPerOne" type="text" class="form-control" placeholder="（礼物比例，如填：1）" />
                                </td>
                                <td class="formValue" colspan="1">
                                    <input id="F_GiftUnit" name="F_GiftUnit" type="text" class="form-control" placeholder="（礼物单位，如填：点）" />
                                </td>
                                <td class="formValue" colspan="1">礼物</td>
                            </tr>
                            @*<tr>
                                <th class="formValue"><span style="color: red;margin-left:100px;">（如：每1元礼物等价于1点礼物。分别填写“1”和“点”。）</span></th>
                            </tr>*@
                            <tr>
                                <th class="formTitle">礼物设置：</th>
                                <td class="formValue" colspan="3">
                                    <input id="F_GiftID" name="F_GiftID" type="text" class="form-control" placeholder="1" />
                                </td>
                                <td class="formGap" colspan="1"><a id="NF-Add" authorize="yes" class="btn btn-primary dropdown-text" onclick=""><i class="fa fa-plus"></i>添加礼物</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-7" style="margin: 10px; margin-bottom: 0px;">
                <div class="panel panel-default panelheight">
                    <div class="panel-heading">
                        <h3 class="panel-title">提交</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">活动状态：</th>
                                <td class="formValue">
                                    <select id="F_Status" name="F_Status" class="form-control required">
                                        <option value="true" selected>是</option>
                                        <option value="false">否</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>  
            <div class="form-button2" id="wizard-actions">
                <a id="btn_last" disabled class="btn btn-default btn-prev">上一步</a>
                <a id="btn_next" class="btn btn-default btn-next">下一步</a>
                <a id="btn_finish" class="btn btn-default" style="display: none;" onclick="submitForm()">完成</a>
            </div>
        </div>
    </div> 
</form>
<script>
    var keyValue = $.request("keyValue");
    var isClone = $.request("isClone");
    $(function () {
        Simditor.locale = 'zh-CN';//设置中文
        var editorrules = new Simditor({
            textarea: $('#F_VoteRules'),  //textarea的id
            placeholder: '这里输入文字...',
            toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', 'alignment'], //工具条都包含哪些内容
            pasteImage: true,//允许粘贴图片
            defaultImage: '~/Content/js/webuploader/images/image.png',//编辑器插入的默认图片，此处可以删除
            upload: {
                url: '/MicroEvent/AddEvent/UploadImage', //文件上传的接口地址
                params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
                fileKey: 'upload_file', //服务器端获取文件数据的参数名
                connectionCount: 3,
                leaveConfirm: '正在上传文件'
            }
        });
        var editorprize = new Simditor({
            textarea: $('#F_VotePrizeIntroDuction'),  //textarea的id
            placeholder: '这里输入文字...',
            toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', 'alignment'], //工具条都包含哪些内容
            pasteImage: true,//允许粘贴图片
            defaultImage: '~/Content/js/webuploader/images/image.png',//编辑器插入的默认图片，此处可以删除
            upload: {
                url: '/MicroEvent/AddEvent/UploadImage', //文件上传的接口地址
                params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
                fileKey: 'upload_file', //服务器端获取文件数据的参数名
                connectionCount: 3,
                leaveConfirm: '正在上传文件'
            }
        });

        var preListCarousel = new Array();
        var preConfigListCarousel = new Array();
        if (keyValue != "") {
            $.ajax({
                url: "/MicroEvent/AddEvent/GetImageUrl",
                data: { keyValue: keyValue, "uploadType": "1" },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.state != "error") {
                        var html = "";
                        $.each(data, function (i, n) {
                            html = "<img src='" + n + "' class='file-preview-image' alt='CarouselPicture' title='CarouselPicture'>"
                            preListCarousel.push(html);

                            var tjson = {
                                caption: n.split("/")[5], // 展示的文件名
                                //width: '210px',
                                url: "/MicroEvent/AddEvent/DeleteImage", // 删除url
                                key: i, // 删除是Ajax向后台传递的参数
                                extra: { keyValue: keyValue }
                            };
                            preConfigListCarousel.push(tjson);
                        })
                    }
                }
            });
        }
        var preListAdver = new Array();
        var preConfigListAdver = new Array();
        if (keyValue != "") {
            $.ajax({
                url: "/MicroEvent/AddEvent/GetImageUrl",
                data: { keyValue: keyValue, "uploadType": "2" },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.state != "error") {
                        var html = "";
                        $.each(data, function (i, n) {
                            html = "<img src='" + n + "' class='file-preview-image' alt='AdverPicture' title='AdverPicture'>"
                            preListAdver.push(html);

                            var tjson = {
                                caption: n.split("/")[5], // 展示的文件名
                                //width: '210px',
                                url: "/MicroEvent/AddEvent/DeleteImage", // 删除url
                                key: i, // 删除是Ajax向后台传递的参数
                                extra: { keyValue: keyValue }
                            };
                            preConfigListAdver.push(tjson);
                        })
                    }
                }
            });
        }
        var preListSong = new Array();
        var preConfigListSong = new Array();
        if (keyValue != "") {
            $.ajax({
                url: "/MicroEvent/AddEvent/GetImageUrl",
                data: { keyValue: keyValue, "uploadType": "6" },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.state != "error") {
                        var html = "";
                        $.each(data, function (i, n) {
                            html = "<audio controls=''><source src='" + n + "' type='audio/mp3'><div class='file-preview-other'><i class='glyphicon glyphicon-king'></i></div></audio>"
                            preListSong.push(html);

                            var tjson = {
                                caption: n.split("/")[4], // 展示的文件名
                                //width: '210px',
                                url: "/MicroEvent/AddEvent/DeleteFile", // 删除url
                                key: i, // 删除是Ajax向后台传递的参数
                                extra: { keyValue: keyValue }
                            };
                            preConfigListSong.push(tjson);
                        })
                    }
                }
            });
        }
        var preListBorder = new Array();
        var preConfigListBorder = new Array();
        if (keyValue != "") {
            $.ajax({
                url: "/MicroEvent/AddEvent/GetImageUrl",
                data: { keyValue: keyValue, "uploadType": "3" },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.state != "error") {
                        var html = "";
                        $.each(data, function (i, n) {
                            html = "<img src='" + n + "' class='file-preview-image' alt='BorderPicture' title='BorderPicture'>"
                            preListBorder.push(html);

                            var tjson = {
                                caption: n.split("/")[5], // 展示的文件名
                                //width: '210px',
                                url: "/MicroEvent/AddEvent/DeleteImage", // 删除url
                                key: i, // 删除是Ajax向后台传递的参数
                                extra: { keyValue: keyValue }
                            };
                            preConfigListBorder.push(tjson);
                        })
                    }
                }
            });
        }

        $("#F_VoteCarouselIDs").fileinput({
            language: 'zh', //设置语言
            uploadUrl: "/MicroEvent/AddEvent/UploadImage", //上传的地址
            uploadExtraData: { "keyValue": keyValue, "uploadType": "1","pictureLink": $("#F_Link").val() },//这个是外带数据
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            overwriteInitial: false,
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式     
            //dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount: 5, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount: true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            initialPreview: preListCarousel,
            initialPreviewConfig: preConfigListCarousel,
            initialPreviewAsData: true,
            overwriteInitial: true,
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        }).on('filepreupload', function(event, data, previewId, index) {     //上传中
            if ($("#F_Link").val() == "")
            {
                $.modalMsg("请继续按要求填写轮播图跳转链接！");
                //$('#F_VoteCarouselIDs').fileinput('cancel');
                //return false;
            }
        }).on("fileuploaded", function (event, data, previewId, index) {
            if (data.response == "success")
                $.modalMsg("上传成功！");
            else if (data.response == "full")
                $.modalMsg("已上传了5张图片！请先删除旧的图片再上传！");
        }).on("fileuploaderror", function (event, data, previewId, index) {
            $.modalMsg("上传失败！");
        }).on('filepredelete', function(event, key) {
            //console.log('Key = ' + key);
        }).on('filedeleted', function(event, key) {
            //console.log('Key = ' + key);
            //top.layer.close(document.getElementsByClassName('layui-layer-dialog')[0].getAttribute('times'));
        });


        $("#F_VoteSuccPictureID").fileinput({
            language: 'zh', //设置语言
            uploadUrl: "/MicroEvent/AddEvent/UploadImage", //上传的地址
            uploadExtraData: { "keyValue": keyValue, "uploadType": "2", "pictureLink": "" },//这个是外带数据
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            overwriteInitial: false,
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            //browseClass: "btn btn-primary", //按钮样式     
            //dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount: 1, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount: true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            initialPreview: preListAdver,
            initialPreviewConfig: preConfigListAdver,
            initialPreviewAsData: true,
            overwriteInitial: true,
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        }).on('filepreupload', function (event, data, previewId, index) {     //上传中
        }).on("fileuploaded", function (event, data, previewId, index) {
            $.modalMsg("上传成功！");
        }).on("fileuploaderror", function (event, data, previewId, index) {
            $.modalMsg("上传失败！");
        }).on('filepredelete', function (event, key) {
            //console.log('Key = ' + key);
        }).on('filedeleted', function (event, key) {
            //console.log('Key = ' + key);
        });


        $("#F_PageBackgroundSong").fileinput({
            language: 'zh', //设置语言
            uploadUrl: "/MicroEvent/AddEvent/UploadImage", //上传的地址
            uploadExtraData: { "keyValue": keyValue, "uploadType": "6", "pictureLink": "" },//这个是外带数据
            allowedFileExtensions: ['mp3', 'wav', 'ogg', 'm4a', 'flac'],//接收的文件后缀
            overwriteInitial: false,
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            //browseClass: "btn btn-primary", //按钮样式
            //dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount: 1, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount: true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            initialPreview: preListSong,
            initialPreviewConfig: preConfigListSong,
            initialPreviewAsData: true,
            overwriteInitial: true,
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        }).on('filepreupload', function (event, data, previewId, index) {     //上传中
        }).on("fileuploaded", function (event, data, previewId, index) {
            $.modalMsg("上传成功！");
        }).on("fileuploaderror", function (event, data, previewId, index) {
            $.modalMsg("上传失败！");
        }).on('filepredelete', function (event, key) {
            //console.log('Key = ' + key);
        }).on('filedeleted', function (event, key) {
            //console.log('Key = ' + key);
        });

        $("#F_PageBorderEffectsPictureID").fileinput({
            language: 'zh', //设置语言
            uploadUrl: "/MicroEvent/AddEvent/UploadImage", //上传的地址
            uploadExtraData: { "keyValue": keyValue, "uploadType": "3", "pictureLink": "" },//这个是外带数据
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            overwriteInitial: false,
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            //browseClass: "btn btn-primary", //按钮样式     
            //dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount: 1, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount: true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            initialPreview: preListBorder,
            initialPreviewConfig: preConfigListBorder,
            initialPreviewAsData: true,
            overwriteInitial: true,
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        }).on('filepreupload', function (event, data, previewId, index) {     //上传中
        }).on("fileuploaded", function (event, data, previewId, index) {
            $.modalMsg("上传成功！");
        }).on("fileuploaderror", function (event, data, previewId, index) {
            $.modalMsg("上传失败！");
        }).on('filepredelete', function (event, key) {
            //console.log('Key = ' + key);
        }).on('filedeleted', function (event, key) {
            //console.log('Key = ' + key);
        });

        initControl();

        if (!!keyValue) {
            $.ajax({
                url: "/MicroEvent/AddEvent/GetFormJson",
                data: { keyValue: keyValue},
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    editorrules.setValue(data["F_VoteRules"]);
                    //$("#F_VoteRules").html(data["F_VoteRules"]);
                    //$(editorrules)[0].body[0].innerHTML = data["F_VoteRules"];
                    //$(editorrules)[0].placeholderEl[0].style.cssText = "display: none;";

                    editorprize.setValue(data["F_VotePrizeIntroDuction"]);
                    //$("#F_VotePrizeIntroDuction").html(data["F_VotePrizeIntroDuction"]);
                    //$(editorprize)[0].body[0].innerHTML = data["F_VotePrizeIntroDuction"];
                    //$(editorprize)[0].placeholderEl[0].style.cssText = "display: none;";
                    if (data["F_PageColorCustom"] == "")
                        $('#cp1').colorpicker('setValue', "#FFFFFF");
                    else
                        $('#cp1').colorpicker('setValue', data["F_PageColorCustom"]);
                    if (data["F_PageColorTheme"] == "")
                        $('#cp2').colorpicker('setValue', "#6381FC");
                    else
                        $('#cp2').colorpicker('setValue', data["F_PageColorTheme"]);
                    if (data["F_PageFloatingEffects"] == "")
                        setFloating('05');
                    else
                        setFloating(data["F_PageFloatingEffects"]);
                }
            });
        }
    })

    function initControl() {
        //$("#F_OrganizeId").bindSelect({
        //    url: "/MicroEvent/AddEvent/GetTreeSelectJson",
        //});
        $('#wizard').wizard().on('change', function (e, data) {
            var $finish = $("#btn_finish");
            var $next = $("#btn_next");
            if (data.direction == "next") {
                switch (data.step) {
                    case 0:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        break;
                    case 1:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        break;
                    case 2:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        break;
                    case 3:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        break;
                    case 4:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        break;
                    case 5:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        break;
                    case 6:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        $finish.show();
                        $next.hide();
                        break;
                    default:
                        break;
                }
            } else {
                $finish.hide();
                $next.show();
            }
        });
    }
    function submitForm() {
        var postData = $("#form1").formSerialize();
        //postData["permissionIds"] = String($("#permissionTree").getCheckedNodes());
        $.submitForm({
            url: "/MicroEvent/AddEvent/SubmitForm?keyValue=" + keyValue + "&isClone=" +  + isClone,
            param: postData,
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }
</script>