@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    var eventID = $.request("eventId");
    var queryJson = {
        eventId: eventID
    }
    $(window).load(function () {
        //debugger
        //$('.layui-layer-close:last').css('display', 'none');
    });
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            //treeGrid: true,
            //treeGridModel: "adjacency",
            //ExpandColumn: "F_EnCode",
            url: "/MicroEvent/Gift/GetGridJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            height: $(window).height() - 128,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: "图片", name: "F_PictureID", width: 100, align: "center", formatter: imageFormatter },
                { label: '名称', name: 'F_Name', width: 200, align: 'left',
                        formatter: function (cellvalue) {
                            return cellvalue.length > 16 ? cellvalue.substr(0, 16) : cellvalue;
                        }
                },
                { label: '价格', name: 'F_Price', width: 50, align: 'left', formatter: priceFormatter },
                { label: '对应票数', name: 'F_VoteNumber', width: 50, align: 'left', formatter: voteNumberFormatter },
                {
                    label: "状态", name: "F_EnabledMark", width: 60, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == 1 ? '<i class="fa fa-toggle-on"></i><br><font color="#1ABC9C">已启用</font>' : '<i class="fa fa-toggle-off"></i><br><font color="#f4786e">已禁用</font>';
                    }
                }
            ],
            pager: "#gridPager",
            sortname: 'F_CreatorTime desc',
            viewrecords: true,
            rowNum: 20,
            rowList: [10, 20, 30, 50, 100],
            ondblClickRow: function (rowid, iRow, iCol, e) {
                btn_edit(rowid);
            }
        });

        function imageFormatter(cellvalue, options, rowObject) {
            var imagePath;
            $.ajax({
                url: '/MicroEvent/AddEvent/GetImageUrl',
                data: { keyvalue: rowObject.F_Id, uploadType: '5', "isNeedImageID": "0" },
                dataType: 'json',
                async: false,
                success: function (data) {
                    imagePath = data["1#" + rowObject.F_Id];
                }
            });
            if(imagePath == undefined)
                return "<img src='" + imagePath + "' width='80' height='75' onerror=\"this.src='../../Content/img/diamond.png'\"/>";
            else
                return "<img src='" + imagePath + "' width='100' height='75' onerror=\"this.src='../../Content/img/diamond.png'\"/>";
        }
        function priceFormatter(cellvalue, options, rowObject) {
            if (cellvalue == null)
                cellvalue = "0";
            return "<i class='fa fa-cny'></i> " + cellvalue;
        }
        function voteNumberFormatter(cellvalue, options, rowObject) {
            if (cellvalue == null)
                cellvalue = "0";
            return "<i class='fa fa-ticket'></i> " + cellvalue;
        }
        $("#time_horizon a.btn-default").click(function () {
            $("#time_horizon a.btn-default").removeClass("active");
            $(this).addClass("active");
            $('#btn_search').trigger("click");
        });
        $("#btn_search").click(function () {
            var timeType = $("#time_horizon a.active").attr('data-value');
            var queryJson = {
                eventId: eventID,
                keyword: $("#txt_keyword").val(),
                timeType: $("#time_horizon a.active").attr('data-value'),
            }
            $gridList.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
            }).trigger('reloadGrid');
            //$gridList.jqGrid('setGridParam', {
            //    postData: { keyword: $("#txt_keyword").val() },
            //}).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "AddGift",
            title: "新增礼物",
            url: "/MicroEvent/Gift/Form?eventId=" + eventID + "&isClone=0",
            width: "1100px",
            height: "920px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit(id) {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        if (id != undefined)
            keyValue = id;
        $.modalOpen({
            id: "UpdateGift",
            title: "修改礼物",
            url: "/MicroEvent/Gift/Form?keyValue=" + keyValue + "&eventId=" + eventID + "&isClone=0",
            width: "1100px",
            height: "920px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/MicroEvent/Gift/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().F_Id },
            success: function () {
                $("#gridList").resetSelection();
                $("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_disabled() {
        var F_Status = $("#gridList").jqGridRowValue().F_EnabledMark;
        if (F_Status == '<i class="fa fa-toggle-off"></i><br><font color="#f4786e">已禁用</font>') {
            $.modalMsg("该礼物已禁用");
            return;
        }
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：您确定要【禁用】该礼物吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/MicroEvent/Gift/Disabled",
                    param: { keyValue: keyValue },
                    close: false,
                    success: function () {
                        $("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
    function btn_enabled() {
        var F_Status = $("#gridList").jqGridRowValue().F_EnabledMark;
        if (F_Status == '<i class="fa fa-toggle-on"></i><br><font color="#1ABC9C">已启用</font>') {
            $.modalMsg("该礼物已启用");
            return;
        }
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：您确定要【启用】该礼物吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/MicroEvent/Gift/Enabled",
                    param: { keyValue: keyValue },
                    close: false,
                    success: function () {
                        $("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
    function btn_clonebutton() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Clone",
            title: "复制添加",
            url: "/MicroEvent/Gift/Form?keyValue=" + keyValue + "&eventId=" + eventID + "&isClone=1",
            width: "1100px",
            height: "920px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
</script>

@*<h2>/MicroEvent/Gift/Index</h2>*@
<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建礼物</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF_Clone" authorize="yes" onclick="btn_clonebutton()"><i class="fa fa-paste"></i>复制添加</a></li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改礼物</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除礼物</a></li>
                <li class="split"></li>
                <li><a id="NF-disabled" authorize="yes" onclick="btn_disabled()"><i class="fa fa-stop-circle"></i>禁用</a></li>
                <li><a id="NF-enabled" authorize="yes" onclick="btn_enabled()"><i class="fa fa-play-circle"></i>启用</a></li>
            </ul>
            <a href="javascript:;" class="close"><i class="fa fa-reply"></i></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
                @*<td style="padding-left: 10px;">
                    <div id="time_horizon" class="btn-group">
                        <a class="btn btn-default active" data-value="1">全部礼物</a>
                        <a class="btn btn-default" data-value="2">报名中</a>
                        <a class="btn btn-default" data-value="3">进行中</a>
                        <a class="btn btn-default" data-value="4">已结束</a>
                        <a class="btn btn-default" data-value="5">今日开始</a>
                        <a class="btn btn-default" data-value="6">今日结束</a>
                        <a class="btn btn-default" data-value="7">未开始</a>
                        <a class="btn btn-default" data-value="8">待审核</a>
                    </div>
                </td>*@
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>