@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<form id="form1">
    <div style="padding-top: 30px; margin-right: 30px;">
        <table class="form">
            <tr>
                <th class="formTitle">选手姓名：</th>
                <td class="formValue">
                    <input id="F_Name" name="F_Name" type="text" class="form-control required" placeholder="请输入选手姓名" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">选手手机号码：</th>
                <td class="formValue">
                    <input id="F_Phone" name="F_Phone" type="text" class="form-control required" placeholder="请输入选手手机号码" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">选手图片：</th>
                <td class="formValue" colspan="3">
                    <div class="container kv-main" style="padding-left: 0px;">
                        <div class="form-group">
                            <input id="File_PictureIDs" type="file" multiple class="file-loading" data-min-file-count="1">
                            <input id="F_PictureIDs" name="F_PictureIDs" type="text" class="form-control required" placeholder="" style="display:none;" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">票数：</th>
                <td class="formValue" colspan="1">
                    <input id="F_VoteNumber" name="F_VoteNumber" type="text" class="form-control" placeholder="0" />
                </td>
                <td class="formValue" colspan="1">
                    票
                </td>
            </tr>
            <tr>
                <th class="formTitle">礼物：</th>
                <td class="formValue" colspan="1">
                    <input id="F_GiftNumber" name="F_GiftNumber" type="text" class="form-control" placeholder="0" />
                </td>
                <td class="formValue" colspan="1">
                    元
                </td>
            </tr>
            <tr>
                <th class="formTitle">虚拟热度：</th>
                <td class="formValue" colspan="1">
                    <input id="F_VirtualHeat" name="F_VirtualHeat" type="text" class="form-control" placeholder="0" />
                </td>
                <td class="formValue" colspan="1">
                    用户热度 = 真实热度 + 虚拟热度
                </td>
            </tr>
            <tr>
                <th class="formTitle">选手介绍：</th>
                <td class="formValue simditor-toolbar" colspan="3">
                    <textarea id="F_Introduction" name="F_Introduction" autofocus></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle">审核是否通过：</th>
                <td class="formValue">
                    <select id="F_AuditIsOK" name="F_AuditIsOK" class="form-control required">
                        <option value="true" selected>是</option>
                        <option value="false">否</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</form>

<script>
    debugger;
    var keyValue = $.request("keyValue");
    var eventID = $.request("eventId");
    $(function () {
        Simditor.locale = 'zh-CN';//设置中文
        var editorintro = new Simditor({
            textarea: $('#F_Introduction'),  //textarea的id
            placeholder: '这里输入文字...',
            toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', 'alignment'], //工具条都包含哪些内容
            pasteImage: true,//允许粘贴图片
            defaultImage: '~/Content/js/webuploader/images/image.png',//编辑器插入的默认图片，此处可以删除
            upload: {
                url: 'richtext_img_upload.do', //文件上传的接口地址
                params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
                fileKey: 'upload_file', //服务器端获取文件数据的参数名
                connectionCount: 3,
                leaveConfirm: '正在上传文件'
            }
        });

        var preListCandidate = new Array();
        var preConfigListCandidate = new Array();
        if (keyValue != "") {
            $.ajax({
                url: "/MicroEvent/AddEvent/GetImageUrl",
                data: { keyValue: keyValue, "uploadType": "4", "isNeedImageID": "1" },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.state != "error") {
                        var html = "";
                        $.each(data, function (i, n) {
                            html = "<img src='" + n + "' class='file-preview-image' alt='CandidatePicture' title='CandidatePicture'>"
                            preListCandidate.push(html);

                            var tjson = {
                                caption: n.split("/")[5], // 展示的文件名
                                //width: '210px',
                                url: '/MicroEvent/AddEvent/DeleteImage', // 删除url
                                key: i, // 删除是Ajax向后台传递的参数
                                extra: { keyValue: keyValue, isImage: "1" }
                            };
                            preConfigListCandidate.push(tjson);
                        })
                    }
                }
            });
        }

        $("#File_PictureIDs").fileinput({
            language: 'zh', //设置语言
            uploadUrl: "/MicroEvent/AddEvent/UploadImage", //上传的地址
            uploadExtraData: { "keyValue": keyValue, "uploadType": "4", "pictureLink": "" },//这个是外带数据
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            overwriteInitial: false,
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式     
            //dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount: 20, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount: true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            initialPreview: preListCandidate,
            initialPreviewConfig: preConfigListCandidate,
            initialPreviewAsData: true,
            overwriteInitial: true,
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        }).on('filepreupload', function (event, data, previewId, index) {     //上传中

        }).on("fileuploaded", function (event, data, previewId, index) {
            if (data.response.split(':')[0] == "success") {
                if ($('#F_PictureIDs').val() == "")
                    $('#F_PictureIDs').val(data.response.split(':')[1]);
                else
                    $('#F_PictureIDs').val($('#F_PictureIDs').val() + "," + data.response.split(':')[1]);
                $.modalMsg("注：上传成功！请不要直接关闭此窗口，必须将表单数据提交到后台才能保存。");
            }
            else if (data.response == "full")
                $.modalMsg("已上传了20张图片！请先删除旧的图片再上传！");
        }).on("fileuploaderror", function (event, data, previewId, index) {
            $.modalMsg("上传失败！");
        }).on('filepredelete', function (event, key) {
            //console.log('Key = ' + key);
        }).on('filedeleted', function (event, id) {
            var ids = $('#F_PictureIDs').val().split(',');
            var idstr = "";
            ids.splice($.inArray(id, ids), 1);

            if (ids.length != 0) {
                $.each(ids, function (i, n) {
                    idstr += n + ",";
                });
                $('#F_PictureIDs').val(idstr.substr(0, idstr.length - 1));
            }
            else
                $('#F_PictureIDs').val("");

            console.log(id);
        });

        if (!!keyValue) {
            $.ajax({
                url: "/MicroEvent/Candidate/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);

                    editorintro.setValue(data["F_Introduction"]);
                }
            });
        }
    })

    function submitForm() {
        var postData = $("#form1").formSerialize();
        //postData["permissionIds"] = String($("#permissionTree").getCheckedNodes());
        $.submitForm({
            url: "/MicroEvent/Candidate/SubmitForm?keyValue=" + keyValue + "&eventId=" + eventID,
            param: postData,
            success: function () {
                top.candidateManage.$("#gridList").resetSelection();
                top.candidateManage.$("#gridList").trigger("reloadGrid");
            }
        });
    }
</script>