@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    var eventID = $.request("eventID");
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        var queryJson = {
            eventId: eventID
        }
        $gridList.dataGrid({
            //treeGrid: true,
            //treeGridModel: "adjacency",
            //ExpandColumn: "F_EnCode",
            url: "/MicroEvent/Candidate/GetGridJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            height: $(window).height() - 128,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '姓名', name: 'F_Name', width: 50, align: 'left', sortable: true },
                { label: '手机号码', name: 'F_Phone', width: 100, align: 'left', sortable: true },
                { label: '票数', name: 'F_VoteNumber', width: 100, align: 'left', sortable: true },
                { label: '礼物数', name: 'F_GiftNumber', width: 100, align: 'left', sortable: true },
                { label: '浏览量', name: 'F_ViewNumber', width: 100, align: 'left', sortable: true },
                {
                    label: '参与时间', name: 'F_CreatorTime', width: 120, align: 'left',sortable:true,
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d H:m:s' }
                },
                { label: '备注', name: 'F_Remark', width: 100, align: 'left' },
                {
                    label: "今日之星", name: "IsTodayStar", width: 60, align: "center", sortable: true,
                    formatter: function (cellvalue) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: "状态", name: "F_AuditIsOK", width: 60, align: "center", sortable: true,
                    formatter: function (cellvalue) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                }
            ],
            pager: "#gridPager",
            sortname: 'F_CreatorTime desc',
            viewrecords: true,
            rowNum: 20,
            rowList: [10, 20, 30, 50, 100]
        });
        $("#time_horizon a.btn-default").click(function () {
            $("#time_horizon a.btn-default").removeClass("active");
            $(this).addClass("active");
            $('#btn_search').trigger("click");
        });
        $("#btn_search").click(function () {
            var timeType = $("#time_horizon a.active").attr('data-value');
            var queryJson = {
                keyword: $("#txt_keyword").val(),
                eventId: eventID,
                timeType: $("#time_horizon a.active").attr('data-value'),
            }
            $gridList.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "添加选手",
            url: "/MicroEvent/Candidate/Form?eventId=" + eventID,
            width: "1100px",
            height: "920px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Form",
            title: "修改选手",
            url: "/MicroEvent/Candidate/Form?keyValue=" + keyValue,
            width: "1100px",
            height: "920px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_genlink() {
        var F_Status = $("#gridList").jqGridRowValue().F_AuditIsOK;
        if (F_Status == "<i class=\"fa fa-toggle-on\"></i>") {
            var keyValue = $("#gridList").jqGridRowValue().F_Id;
            $.modalOpen({
                id: "GenLink",
                title: "查看选手链接",
                url: "/MicroEvent/Candidate/GenLink?keyValue=" + keyValue,
                width: "1100px",
                height: "620px",
                btn: null,
            });
        }
        else {
            $.modalMsg("该选手审核未通过");
        }
    }
    function btn_orderlist() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "OrderList",
            title: "礼物记录",
            url: "/MicroEvent/Candidate/OrderList?keyValue=" + keyValue,
            width: "1100px",
            height: "620px",
            btn: null,
        });
    }
    function btn_votelist() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "VoteList",
            title: "投票记录",
            url: "/MicroEvent/Candidate/VoteList?keyValue=" + keyValue,
            width: "1100px",
            height: "620px",
            btn: null,
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/MicroEvent/Candidate/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().F_Id },
            close: false,
            success: function () {
                $("#gridList").resetSelection();
                $("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_disabled() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：您确定要修改为【审核不通过】吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/MicroEvent/Candidate/Disabled",
                    param: { keyValue: keyValue },
                    close: false,
                    success: function () {
                        $("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
    function btn_enabled() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：您确定要修改为【审核通过】吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/MicroEvent/Candidate/Enabled",
                    param: { keyValue: keyValue },
                    close: false,
                    success: function () {
                        $("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
    function btn_setstar() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：您确定要设置为【今日之星】吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/MicroEvent/Candidate/SetStar",
                    param: { keyValue: keyValue },
                    close: false,
                    success: function () {
                        $("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
    function btn_cancelstar() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：您确定要取消【今日之星】吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/MicroEvent/Candidate/CancelStar",
                    param: { keyValue: keyValue },
                    close: false,
                    success: function () {
                        $("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
    function btn_vote() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        var votenumber = $("#votenumber").val();
        $.modalConfirm("注：您确定要给该选手投" + votenumber + "票吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/MicroEvent/Candidate/Vote",
                    param: { keyValue: keyValue, votenumber: votenumber },
                    close: false,
                    success: function () {
                        $("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
    function btn_addviewnumber() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        var viewnumber = $("#viewnumber").val();
        $.modalConfirm("注：您确定要给该选手加" + viewnumber + "浏览量吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/MicroEvent/Candidate/AddViewNumber",
                    param: { keyValue: keyValue, viewnumber: viewnumber },
                    close: false,
                    success: function () {
                        $("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
</script>

@*<h2>/MicroEvent/Candidate/Index</h2>*@
<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>添加选手</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改选手</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除选手</a></li>
                <li><a id="NF-genlink" authorize="yes" onclick="btn_genlink()"><i class="fa fa-qrcode"></i>查看选手链接</a></li>
                <li><a id="NF-orderlist" authorize="yes" onclick="btn_orderlist()"><i class="fa fa-gift"></i>礼物记录</a></li>
                <li><a id="NF-votelist" authorize="yes" onclick="btn_votelist()"><i class="fa fa-ticket"></i>投票记录</a></li>
                <li class="split"></li>
                <li><a id="NF-enabled" authorize="yes" onclick="btn_enabled()"><i class="fa fa-play-circle"></i>审核通过</a></li>
                <li><a id="NF-disabled" authorize="yes" onclick="btn_disabled()"><i class="fa fa-stop-circle"></i>审核不通过</a></li>
                <li class="split"></li>
                <li><a id="NF-setstar" authorize="yes" onclick="btn_setstar()"><i class="fa fa-star"></i>设为今日之星</a></li>
                <li><a id="NF-cancelstar" authorize="yes" onclick="btn_cancelstar()"><i class="fa fa-star-o"></i>取消今日之星</a></li>
                <li class="split"></li>
                <li><input type="text" id="votenumber" name="votenumber" value="1" style="margin-top: 6px; width: 40px;"/></li>
                <li><a id="NF-vote" onclick="btn_vote()"><i class="fa fa-ticket"></i>投票</a></li>
                <li class="split"></li>
                <li><input type="text" id="viewnumber" name="viewnumber" value="1" style="margin-top: 6px; width: 40px;" /></li>
                <li><a id="NF-addviewnumber" onclick="btn_addviewnumber()"><i class="fa fa-eye"></i>加浏览量</a></li>
            </ul>
            <a href="javascript:;" class="close"><i class="fa fa-reply"></i></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
                <td style="padding-left: 10px;">
                    <div id="time_horizon" class="btn-group">
                        <a class="btn btn-default active" data-value="1">全部选手</a>
                        <a class="btn btn-default" data-value="2">待审核</a>
                        <a class="btn btn-default" data-value="3">已审核</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <style>
        .ui-jqgrid {
            border-left: 0px;
            border-right: 0px;
            border-bottom: 0px;
        }
    </style>
    <div id="gridPager"></div>
</div>
